
<!DOCTYPE html>
<html>
   <head>
   <link rel= 'stylesheet' href = 'css\page.css'>
      <style>
         body {
		    background-color:grey;
            background-image: url("\image\bgpi1.jpg");
         }
      </style>
	</head>
     <body>
      
     <h1> <p style="color:#b3e5fc;">WELCOME TO OUR WEBSITE♥</p></h1>
	      <h4><p style="color:white;"> THANK YOU FOR YOUR INTEREST...!</P></h4>
	   <h5><p style="color:white;"> WE HOPE YOU FIND WHAT YOU'RE LOOKING FOR...AND ENJOY YOUR STAY♥</p></h5>
	    
			 <!-- HTML !-->
			 
			 <a href="select_movie.html">
			 
         <button class="button-64" role="button"><span class="text">START</span></button>
          </a>
     </body>
</html>
