<!DOCTYPE html>
<html>
  <head>

	<link rel= 'stylesheet' href = 'style-booking.css'>
  
	<link rel= 'stylesheet' href = 'css\booking-search-box.css'>
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
      <title>Title of the document</title>
  
  </head>
     <body>   
	 
	 
	 
	 <div class="background_image">
    
	</div>
	 




  <div id="header">
  

                    <div class="row height d-flex justify-content-center "   id = "header-row">

				<div class = 'col-md-2' id='logo-title'>
				  
				  
  
				               SEEcinemA
				  
				  </div>
				  
				  
				  


				  <div class="col-md-4" id ='search-box'>

					<div class="search">
					  <i class="fa fa-search"></i>
					  <input type="text" class="form-control" placeholder="Search movies">
					  <button class="btn btn-primary">Search</button>
					  
					  
					</div>

				  </div>
				  
				  <div class = 'col-md-4'>
				  
				  
				  </div>
				  
				  <div class = 'col-md-2'>
				  
				  
					<button> Login </button>
				  
					<button> Sign in  </button>
					
				
				  </div>
				  
				  
				  
				  
				  
				
				</div>
				
			<br><br><br>


  </div>

<!--							 HEADER CODE STOPS HERE       				-->
  
  
  
  
  
  
  
  <hr></hr>
  
  
  
  <!--							 .................ROW 1 CODE Starts HERE.................       				-->
  
  

  
   <div class ='row'  id= "row1">  
	 <div class = 'col-md-4' id="circle">
            
			<img src="demonslayer.Webp" alt="Nature" width="100%" height="100%">
			
    </div>
	
	


	<div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><h1> DEMON SLAYER ♥ </h1></h5>
        <p class="card-text"><h3> RATING : 8.8/10</h3> </p>
		<p class="card-text"><h3> BOX OFFICE : $506.5 Million.</h3></p>
        <p class="card-text"> <h3> RELEASE DATE : October 16, 2023</h3></p>
		<p class="card-text"><h3> STORY LINE : </h3></p>
        <p class="card-text">A family is attacked by demons and only two members survive - Tanjiro and his sister Nezuko, who is turning into a demon slowly. Tanjiro sets out to become a demon slayer to avenge his family and cure his sister.</p>
		
	   <a href="booking_tickets.html" class="btn btn-primary" style=" float: right;">Book tickets</a>
      </div>
    </div>
  </div>
  
  <br>	
	</div>
   <hr></hr>
   
   

 <!--							 ..........ROW 2 CODE Starts HERE...........  -->
 



  <div class ='row'  id= "row2">  
	 <div class = 'col-md-4' id="circle">
            
			<img src="onepeice.jpg" alt="Nature" width="100%" height="100%">
			
    </div>
	
	


	<div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><h1> ONE PEICE ♥ </h1></h5>
        <p class="card-text"><h3> RATING : 8.7/10</h3> </p>
		<p class="card-text"><h3> BOX OFFICE : $345.9 Million.</h3></p>
        <p class="card-text"> <h3> RELEASE DATE : MARCH 3, 2023</h3></p>
		<p class="card-text"><h3> STORY LINE : </h3></p>
        <p class="card-text">The series focuses on Monkey D. Luffy, a young man made of rubber, who, inspired by his childhood idol, the powerful pirate Red-Haired Shanks, sets off on a journey from the East Blue Sea to find the mythical treasure, the One Piece, and proclaim himself the King of the Pirates.</p>
          <a href="booking_tickets.html" class="btn btn-primary" style=" float: right;">Book tickets</a>
      </div>
    </div>
  </div>
  
  <br>	
	</div>
   <hr></hr>
   
   
   
   
<!--                               .................third row starting..................        -->




<div class = "row" id= "row3">
   </br> <div class = "col-md-4" id="circle">
       
      <img src="deathnote.jpg" alt="Nature">
	 
          </div>
	
	  
	  
	  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><h1> DEATH NOTE ♥ </h1></h5>
        <p class="card-text"><h3> RATING : 9.5/10</h3> </p>
		<p class="card-text"><h3> BOX OFFICE : $678.7 Million.</h3></p>
        <p class="card-text"> <h3> RELEASE DATE : JULY 19, 2021 </h3></p>
		<p class="card-text"><h3> STORY LINE : </h3></p>
		<p class="card-text">Based on the famous Japanese manga written by Tsugumi Ohba and Takeshi Obata, Death Note follows a high school student who comes across a supernatural notebook, realizing it holds within it a great power; if the owner inscribes someone's name into it while picturing their face, he or she will die.</p>
          
		<a href="booking_tickets.html" class="btn btn-primary" style=" float: right;">Book tickets</a>
      </div>
    </div>
  </div>
	  
	  <br>	
	</div>
   <hr></hr>
   
   
   
   
	
  </body>
  
  <script src="booking-js.js"></script>
  </p>
  
</html>